[user]
	name = Francesco Face
	email = francesco.face@gmail.com
[alias]
	co = checkout
	br = branch
	brd = branch --sort=-authordate
	ci = commit
	st = status
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	fi = commit --fixup
	ri = rebase -i --autosquash
	ff = pull --ff-only
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	autosquash = !git rebase -i --autosquash $(git merge-base master HEAD)
	please = push --force-with-lease
	wip = commit -m \"WIP\"
	fix = commit --fixup
[core]
	excludesfile = ~/.gitignore_global
	editor = 'vi'
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[fetch]
	prune=true
[color]
	ui = true
[pull]
	rebase = true
